## **Experiment 10**

### **Name : Smayan Kulkarni, SAP ID : 60009230142 , Roll Number : D100, Division : D2-2**

In [1]:
import pandas as pd
import numpy as np

1. In the Titanic dataset, replace missing values in the age column with the median age of passengers.

In [2]:
df = pd.read_csv('titanic.csv')
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [3]:
df['Age'].fillna(df['Age'].median(), inplace=True)

In [4]:
df.isna().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age              0
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

2. In the Titanic dataset, detect outliers in the fare column using Z-scores and display them.

In [5]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()

todetectoutliers= scaler.fit_transform(df[['Fare']])
outliers = []

for val in todetectoutliers:
    if val > 3.0 or val < -3.0:
        outliers.append(val)

outliers
finaloutliers = scaler.inverse_transform(outliers)
finaloutliers

array([[263.    ],
       [263.    ],
       [247.5208],
       [512.3292],
       [247.5208],
       [262.375 ],
       [263.    ],
       [211.5   ],
       [227.525 ],
       [263.    ],
       [221.7792],
       [227.525 ],
       [512.3292],
       [211.3375],
       [227.525 ],
       [227.525 ],
       [211.3375],
       [512.3292],
       [262.375 ],
       [211.3375]])

3. Given the Iris dataset, identify and print rows where sepal length (cm) is an outlier using the IQR method.

In [6]:
df = pd.read_csv('Iris.csv')
df.head()
sepal_length = df['SepalLengthCm']

Q1 = sepal_length.quantile(0.25)
Q3 = sepal_length.quantile(0.75)

IQR  = Q3 - Q1

lower_bound = Q1 - 1.5 * IQR
upper_bound = Q3 + 1.5 * IQR

outliers = df[(sepal_length < lower_bound) | (sepal_length > upper_bound)]
outliers

Empty DataFrame
Columns: [Id, SepalLengthCm, SepalWidthCm, PetalLengthCm, PetalWidthCm, Species]
Index: []

4. Given the Iris dataset, calculate and print the Z-scores for petal width (cm) and identify outliers.

In [7]:
petal_width = df['PetalWidthCm']

mean = petal_width.mean()
std = petal_width.std()

normalized = []
for i in petal_width:
    norm = (i - mean )/ (std)
    normalized.append(norm)

normalized

outliers = []

for val in normalized:
    if val > 3.0 or val < -3.0:
        outliers.append(val)

outliers

[]


5. For the Boston Housing dataset, drop rows where the RM (average number of rooms per dwelling) column has missing values.

In [8]:
df=  pd.read_csv('boston.csv')
df.head()

,ID,crim,zn,indus,chas,nox,rm,age,dis,rad,tax,ptratio,black,lstat,medv
0,1,0.00632,18.0,2.31,0,0.538,6.575,65.2,4.0900,1,296,15.3,396.90,4.98,24.0
1,2,0.02731,0.0,7.07,0,0.469,6.421,78.9,4.9671,2,242,17.8,396.90,9.14,21.6
2,4,0.03237,0.0,2.18,0,0.458,6.998,45.8,6.0622,3,222,18.7,394.63,2.94,33.4
3,5,0.06905,0.0,2.18,0,0.458,7.147,54.2,6.0622,3,222,18.7,396.90,5.33,36.2
4,7,0.08829,12.5,7.87,0,0.524,6.012,66.6,5.5605,5,311,15.2,395.60,12.43,22.9

In [9]:
df.isna().sum()

ID         0
crim       0
zn         0
indus      0
chas       0
nox        0
rm         0
age        0
dis        0
rad        0
tax        0
ptratio    0
black      0
lstat      0
medv       0
dtype: int64

**No null values**


6. For the Boston Housing dataset, use the IQR method to detect outliers in the AGE column and list them.

In [10]:
ages = df['age']

Q1 = ages.quantile(0.25)
Q3 = ages.quantile(0.75)

IQR  = Q3 - Q1

lower_bound = Q1 - 1.5 * IQR
upper_bound = Q3 + 1.5 * IQR

outliers = df[(ages < lower_bound) | (ages > upper_bound)]
outliers

Empty DataFrame
Columns: [ID, crim, zn, indus, chas, nox, rm, age, dis, rad, tax, ptratio, black, lstat, medv]
Index: []

7. In the Wine Quality dataset, fill missing values in the total sulfur dioxide column with the mean of that column.

In [11]:
df = pd.read_csv('winequality-red.csv')
df.head()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5
1,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.9968,3.20,0.68,9.8,5
2,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.9970,3.26,0.65,9.8,5
3,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.9980,3.16,0.58,9.8,6
4,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5

In [12]:
df.isna().sum()

fixed acidity           0
volatile acidity        0
citric acid             0
residual sugar          0
chlorides               0
free sulfur dioxide     0
total sulfur dioxide    0
density                 0
pH                      0
sulphates               0
alcohol                 0
quality                 0
dtype: int64

8. In the Wine Quality dataset, replace missing values in the fixed acidity column with 0 and display the cleaned DataFrame.

In [13]:
df.isna().sum()

fixed acidity           0
volatile acidity        0
citric acid             0
residual sugar          0
chlorides               0
free sulfur dioxide     0
total sulfur dioxide    0
density                 0
pH                      0
sulphates               0
alcohol                 0
quality                 0
dtype: int64