**1. Create a list of the first 10 positive integers and print the sum of the even numbers in the list.**

In [12]:
list = [1,2,3,4,5,6,7,8,9,10]
sum =0;
for num in list:
    if num%2 ==0:
        sum+=num
    
print(sum)

30

**2. Given the tuple (10, 20, 30, 40, 50), use slicing to print a new tuple containing only the last three elements.**

In [13]:
tup = (10, 20, 30, 40, 50)
tup[2:]

(30, 40, 50)

**3. Create a set of the numbers {1, 2, 3, 4, 5} and compute the intersection with {4, 5, 6, 7}; print the result.**

In [14]:
set1 = {1, 2, 3, 4, 5}
set2 = {4, 5, 6, 7}
set3 = set1&set2
print(set3)

{4, 5}

**4. Define a dictionary with the keys 'a', 'b', and 'c' and their respective values 1, 2, and 3, then update the value for key 'b' to 10 and print the updated dictionary**

In [15]:
dict = {'a' : 1, 'b' : 2, 'c' : 3}
dict['b'] = 10
dict

{'a': 1, 'b': 10, 'c': 3}

**5. Using a list comprehension, create a list of squares for the numbers from 1 to 5 and print the resulting list.**

In [16]:
list2  = [num**2 for num in range(1,6)]
list2

[1, 4, 9, 16, 25]

**6. Create a tuple with elements 'cat', 'dog', and 'bird', then check and print whether 'dog' is in the tuple**

In [17]:
tup = ('cat','dog','bird')
if 'dog' in tup: 
    print("dog is in the tuple")

dog is in the tuple

**7. Given the list [1, 1, 2, 3, 5, 8, 13], convert it to a set and print the setâ€™s length.**

In [18]:
list = [1, 1, 2, 3, 5, 8, 13]
list =set(list)
type(list)
len(list)

6

**8. Create two dictionaries {'A': [1, 2], 'B': [3, 4]} and {'B': [5, 6], 'C': [7, 8]}, then merge them into one dictionary and print the result.**

In [19]:
dict1 = {'A': [1, 2], 'B': [3, 4]}
dict2 = {'B': [5, 6], 'C': [7, 8]}
dict1.update(dict2)

**9. For the list [3, 5, 7, 3, 5, 9, 3], create a dictionary to count the occurrences of each element and print the dictionary.**

In [20]:
numbers = [3, 5, 7, 3, 5, 9, 3]

count_dict = {}

for number in numbers:
    if number in count_dict:
        count_dict[number] += 1
    else:
        count_dict[number] = 1
print(count_dict)

{3: 3, 5: 2, 7: 1, 9: 1}

**10. Define a tuple (1, 2, 3, 4, 5) and find the maximum and minimum values in the tuple; print both values.**

In [21]:
tup  = (1, 2, 3, 4, 5)
print(max(tup))
print(min(tup))

5
1

**11. Given a list of integers [12, 15, 18, 20, 22, 25, 30], calculate and print the variance using the statistics module.**

In [25]:
numbers = [12, 15, 18, 20, 22, 25, 30]
total_sum = 0
for num in numbers:
    total_sum += num
mean = total_sum / len(numbers)
sum_squared_deviations = 0
for num in numbers:
    deviation = num - mean
    squared_deviation = deviation ** 2
    sum_squared_deviations += squared_deviation
variance = sum_squared_deviations / (len(numbers) - 1)

print(f"The variance is: {variance:.2f}")

The variance is: 36.90

**12. Create a dictionary where keys are product names and values are their sales numbers; calculate and print the total sales across all products.**

In [ ]:
dict = {'Ice Cream' : 10, 'Mobile phone': 20}
sum =0;
for key in dict:
    sum = sum + dict[key]
print(sum)

30

**13. From a list of temperatures [22, 25, 19, 30, 28, 32, 26], find and print the highest and lowest temperatures using the max () and min() functions.**

In [ ]:
temps =   [22, 25, 19, 30, 28, 32, 26]
print(max(temps))
print(min(temps))

32
19

**14. Create a list of tuples representing student scores [(90, 'Alice'), (85, 'Bob'), (88, 'Charlie')] and print the name of the student with the highest score.**

In [ ]:
students = [(90, 'Alice'), (85, 'Bob'), (88, 'Charlie')]
print("The name fo the student is: " + max(students)[1])

The name fo the student is: Alice

**15. Given a list of numbers [2, 4, 6, 8, 10], compute and print the cumulative sum of the list using a loop.**

In [ ]:
list = [2,4,6,8,10]
sum=0
for ele in list:
    sum += ele
print(sum)

30

**16. Create a list of squares for numbers 1 through 10 using a list comprehension.**

In [ ]:
list = [num**2 for num in range(1,11)]
list

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

**17. Create a list that replaces every number divisible by 3 with "Fizz", every number divisible by 5 with "Buzz", and numbers divisible by both with "FizzBuzz", for numbers 1 through 15.**

In [ ]:
list = [num for num in range(1,16)]
for num in list: 
    if num%3==0 and num%5==0:
        list[num-1] = "FizzBuzz"
    elif num % 3 == 0:
        list[num-1] =  "Fizz"
    elif num %5==0: 
        list[num-1] = "Buzz"
    
        
list

[1,
 2,
 'Fizz',
 4,
 'Buzz',
 'Fizz',
 7,
 8,
 'Fizz',
 'Buzz',
 11,
 'Fizz',
 13,
 14,
 'FizzBuzz']

**18. Create a list of numbers from 1 to 100 that are divi	sible by both 2 and 5.**

In [ ]:
list = [num for num in range(1,101) if num%2==0 and num%5==0]
list

[10, 20, 30, 40, 50, 60, 70, 80, 90, 100]

**19. Write a program that takes a dictionary where each value is a list and converts it into a dictionary where each value is a set containing the unique elements from the original list.**

In [36]:

original_dict = {
    'a': [1, 2, 3, 4],
    'b': [5,6,7,8],
    'c': [9,10,10]
}

converted_dict = {key: set(value) for key, value in original_dict.items()}

print(converted_dict)

{'a': {1, 2, 3, 4}, 'b': {8, 5, 6, 7}, 'c': {9, 10}}

**20. Write a program that takes two dictionaries and returns a set of keys that are present in the first dictionary but not in the second.**

In [41]:
dict1 = {'a': 1, 'b': 2, 'c': 3, 'd': 4, 'q' : 50}
dict2 = {'b': 20, 'c': 30, 'e': 50, 'f': 53, 'z':43}
keys_in_dict1_not_in_dict2 = set(dict1.keys()) - set(dict2.keys())
print(keys_in_dict1_not_in_dict2)

{'d', 'a', 'q'}

**21.Write a function that takes two sets of tuples and returns a tuple containing three sets:**
Elements that are in both sets.
Elements that are only in the first set.
Elements that are only in the second set.

In [43]:
def compare_sets(set1, set2):
    intersection = set1.intersection(set2)
    only_in_set1 = set1 - set2
    only_in_set2 = set2 - set1
    return (intersection, only_in_set1, only_in_set2)
set1 = {(1, 2), (3, 4), (5, 6)}
set2 = {(3, 4), (7, 8)}

result = compare_sets(set1, set2)

print(result)

({(3, 4)}, {(1, 2), (5, 6)}, {(7, 8)})

**22.Write a program that takes a list of sets and returns a single set that is the union of all the    	sets in the list.**

In [47]:
list_of_sets = [{1, 2, 3}, {3, 4, 5}, {5, 6, 7}, {8, 9}]
union_of_all_sets = set()

for s in list_of_sets:
    union_of_all_sets = union_of_all_sets.union(s)
print(union_of_all_sets)

{1, 2, 3, 4, 5, 6, 7, 8, 9}

**23. Write a program that takes a list of tuples and rotates each tuple by a given number of      	positions. For example, rotating (1, 2, 3, 4) by 2 positions would result in (3, 4, 1,2).**

In [49]:
def rotate_tuple(tup, positions):
    return tup[positions:] + tup[:positions] 
list_of_tuples = [(1, 2, 3, 4), (5, 6, 7, 8, 9), (10, 11, 12)]
positions = 2
rotated_tuples = [rotate_tuple(tup, positions) for tup in list_of_tuples]
print(rotated_tuples)

[(3, 4, 1, 2), (7, 8, 9, 5, 6), (12, 10, 11)]

**24. Write a program that takes a list of tuples where each tuple contains integers and returns the     	 tuple with the highest sum of its elements.**

In [52]:
def tuple_with_highest_sum(tuple_list):
    """Return the tuple with the highest sum of its elements from a list of tuples."""
    if not tuple_list:
        return None  # Handle empty list case

    # Initialize variables to track the tuple with the highest sum
    max_tuple = tuple_list[0]
    max_sum = sum(max_tuple)

    for t in tuple_list[1:]:
        current_sum = sum(t)
        if current_sum > max_sum:
            max_sum = current_sum
            max_tuple = t

    return max_tuple

# Example usage
list_of_tuples = [(1, 2, 3), (4, 5, 6), (7, 8), (1, 1, 1, 1)]

# Get the tuple with the highest sum
result = tuple_with_highest_sum(list_of_tuples)

print(result)

TypeError: 'int' object is not callable