**1. Create a list of the first 10 positive integers and print the sum of the even numbers in the list.**

In [2]:
list = [1,2,3,4,5,6,7,8,9,10]
sum =0;
for num in list:
    if num%2 ==0:
        sum+=num
    
print(sum)

30

**2. Given the tuple (10, 20, 30, 40, 50), use slicing to print a new tuple containing only the last three elements.**

In [14]:
tup = (10, 20, 30, 40, 50)
tup[2:]

(30, 40, 50)

**3. Create a set of the numbers {1, 2, 3, 4, 5} and compute the intersection with {4, 5, 6, 7}; print the result.**

In [8]:
set1 = {1, 2, 3, 4, 5}
set2 = {4, 5, 6, 7}
set3 = set1&set2
print(set3)

{4, 5}

**4. Define a dictionary with the keys 'a', 'b', and 'c' and their respective values 1, 2, and 3, then update the value for key 'b' to 10 and print the updated dictionary**

In [10]:
dict = {'a' : 1, 'b' : 2, 'c' : 3}
dict['b'] = 10
dict

{'a': 1, 'b': 10, 'c': 3}

**5. Using a list comprehension, create a list of squares for the numbers from 1 to 5 and print the resulting list.**

In [30]:
list2  = [num**2 for num in range(1,6)]
list2

[1, 4, 9, 16, 25]

**6. Create a tuple with elements 'cat', 'dog', and 'bird', then check and print whether 'dog' is in the tuple**

In [18]:
tup = ('cat','dog','bird')
if 'dog' in tup: 
    print("dog is in the tuple")

dog is in the tuple

**7. Given the list [1, 1, 2, 3, 5, 8, 13], convert it to a set and print the setâ€™s length.**

In [26]:
list = [1, 1, 2, 3, 5, 8, 13]
list =set(list)
type(list)
len(list)

6

**8. Create two dictionaries {'A': [1, 2], 'B': [3, 4]} and {'B': [5, 6], 'C': [7, 8]}, then merge them into one dictionary and print the result.**

In [30]:
dict1 = {'A': [1, 2], 'B': [3, 4]}
dict2 = {'B': [5, 6], 'C': [7, 8]}
dict1.update(dict2)

**9. For the list [3, 5, 7, 3, 5, 9, 3], create a dictionary to count the occurrences of each element and print the dictionary.**

In [3]:
numbers = [3, 5, 7, 3, 5, 9, 3]

count_dict = {}

for number in numbers:
    if number in count_dict:
        count_dict[number] += 1
    else:
        count_dict[number] = 1
print(count_dict)

{3: 3, 5: 2, 7: 1, 9: 1}

**10. Define a tuple (1, 2, 3, 4, 5) and find the maximum and minimum values in the tuple; print both values.**

In [5]:
tup  = (1, 2, 3, 4, 5)
print(max(tup))
print(min(tup))

5
1

**11. Given a list of integers [12, 15, 18, 20, 22, 25, 30], calculate and print the variance using the statistics module.**

In [10]:
numbers = [12, 15, 18, 20, 22, 25, 30]

mean = sum(numbers) / len(numbers)
squared_deviations = [(x - mean) ** 2 for x in numbers]
sum_squared_deviations = sum(squared_deviations)
variance = sum_squared_deviations / len(numbers)-1

print(f"The variance is: {variance:.2f}")

The variance is: 30.63

**12. Create a dictionary where keys are product names and values are their sales numbers; calculate and print the total sales across all products.**

In [15]:
dict = {'Ice Cream' : 10, 'Mobile phone': 20}
sum =0;
for key in dict:
    sum = sum + dict[key]
print(sum)

30

**13. From a list of temperatures [22, 25, 19, 30, 28, 32, 26], find and print the highest and lowest temperatures using the max () and min() functions.**

In [18]:
temps =   [22, 25, 19, 30, 28, 32, 26]
print(max(temps))
print(min(temps))

32
19

**14. Create a list of tuples representing student scores [(90, 'Alice'), (85, 'Bob'), (88, 'Charlie')] and print the name of the student with the highest score.**

In [22]:
students = [(90, 'Alice'), (85, 'Bob'), (88, 'Charlie')]
print("The name fo the student is: " + max(students)[1])

The name fo the student is: Alice

**15. Given a list of numbers [2, 4, 6, 8, 10], compute and print the cumulative sum of the list using a loop.**

In [25]:
list = [2,4,6,8,10]
sum=0
for ele in list:
    sum += ele
print(sum)

30

**16. Create a list of squares for numbers 1 through 10 using a list comprehension.**

In [29]:
list = [num**2 for num in range(1,11)]
list

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

**17. Create a list that replaces every number divisible by 3 with "Fizz", every number divisible by 5 with "Buzz", and numbers divisible by both with "FizzBuzz", for numbers 1 through 15.**

In [39]:
list = [num for num in range(1,16)]
for num in list: 
    if num%3==0 and num%5==0:
        list[num-1] = "FizzBuzz"
    elif num % 3 == 0:
        list[num-1] =  "Fizz"
    elif num %5==0: 
        list[num-1] = "Buzz"
    
        
list

[1,
 2,
 'Fizz',
 4,
 'Buzz',
 'Fizz',
 7,
 8,
 'Fizz',
 'Buzz',
 11,
 'Fizz',
 13,
 14,
 'FizzBuzz']

**18. Create a list of numbers from 1 to 100 that are divi	sible by both 2 and 5.**

In [43]:
list = [num for num in range(1,101) if num%2==0 and num%5==0]
list

[10, 20, 30, 40, 50, 60, 70, 80, 90, 100]