In [1]:
import pandas as pd

In [ ]:
# series = 1-dimentional

In [3]:
series = pd.Series(["BMW", "Toyota"])

In [5]:
series

0       BMW
1    Toyota
dtype: object

In [6]:
colours = pd.Series(["Red", "Yellow"])

In [7]:
#DataFrame - 2-Dimentional

In [8]:
car_data = pd.DataFrame({"Car Data": series, "Colour": colours})
car_data

  Car Data  Colour
0      BMW     Red
1   Toyota  Yellow

In [8]:
car_data = pd.DataFrame({"Car Data": series, "Colour": colours})
car_data

  Car Data  Colour
0      BMW     Red
1   Toyota  Yellow

In [ ]:
# Import Data

In [11]:
car_sales = pd.read_csv("car-sales.csv")

In [12]:
car_sales

     Make Colour  Odometer (KM)  Doors       Price
0  Toyota  White         150043      4   $4,000.00
1   Honda    Red          87899      4   $5,000.00
2  Toyota   Blue          32549      3   $7,000.00
3     BMW  Black          11179      5  $22,000.00
4  Nissan  White         213095      4   $3,500.00
5  Toyota  Green          99213      4   $4,500.00
6   Honda   Blue          45698      4   $7,500.00
7   Honda   Blue          54738      4   $7,000.00
8  Toyota  White          60000      4   $6,250.00
9  Nissan  White          31600      4   $9,700.00

In [8]:
car_data = pd.DataFrame({"Car Data": series, "Colour": colours})
car_data

  Car Data  Colour
0      BMW     Red
1   Toyota  Yellow