In [19]:
import pandas as pd
import numpy as np

In [20]:
df = pd.read_csv("/home/smayan/Desktop/AI-ML-DS/BootCamp/new_preprocessed_loan_data_day2.csv")
df

,Unnamed: 0,Loan_Amount,Interest_Rate,Installment,Terms(Months),Employment_Length,Home_Ownership,Annual_Income,Debt_to_Income_Ratio,Verification_Status,...,Public_Record,Total_Accounts,Total_Received_Principal,Total_Received_Interest,Purpose,Loan_Status,Issue_Month,Issue_Year,region,Risk_Category
0,0,5000.0,10.65,162.87,36,10.0,RENT,24000.0,27.65,Verified,...,0.0,9.0,5000.00,861.07,credit_card,Fully Paid,Dec,2011,SouthWest,Low Risk
1,1,2500.0,15.27,59.83,60,0.5,RENT,30000.0,1.00,Source Verified,...,0.0,4.0,456.46,435.17,car,Charged Off,Dec,2011,SouthEast,High Risk
2,2,2400.0,15.96,84.33,36,10.0,RENT,12252.0,8.72,Not Verified,...,0.0,10.0,2400.00,603.65,small_business,Fully Paid,Dec,2011,MidWest,Low Risk
3,3,10000.0,13.49,339.31,36,10.0,RENT,49200.0,20.00,Source Verified,...,0.0,37.0,10000.00,2209.33,other,Fully Paid,Dec,2011,West,Low Risk
4,4,5000.0,7.90,156.46,36,3.0,RENT,36000.0,11.20,Source Verified,...,0.0,12.0,5000.00,631.38,wedding,Fully Paid,Dec,2011,SouthWest,Low Risk
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
266024,277135,4200.0,15.99,147.64,36,10.0,MORTGAGE,48000.0,36.93,Verified,...,0.0,45.0,667.96,358.06,medical,Charged Off,Jan,2015,West,High Risk
266025,277136,10775.0,6.03,327.95,36,0.5,RENT,54000.0,13.22,Not Verified,...,0.0,21.0,10775.00,296.87,debt_consolidation,Fully Paid,Jan,2015,SouthEast,Low Risk
266026,277137,6225.0,16.49,220.37,36,2.0,RENT,27000.0,18.58,Source Verified,...,0.0,4.0,6225.00,825.46,debt_consolidation,Fully Paid,Jan,2015,SouthEast,Low Risk
266027,277138,4000.0,8.67,126.59,36,10.0,MORTGAGE,50000.0,12.63,Verified,...,1.0,30.0,4000.00,158.02,car,Fully Paid,Jan,2015,West,Low Risk
266028,277139,10850.0,19.24,399.04,36,NaN,OWN,32000.0,29.44,Verified,...,0.0,20.0,1405.77,990.28,debt_consolidation,Charged Off,Jan,2015,MidWest,High Risk

# Feature Engineering

In [21]:
df.head(5)

,Unnamed: 0,Loan_Amount,Interest_Rate,Installment,Terms(Months),Employment_Length,Home_Ownership,Annual_Income,Debt_to_Income_Ratio,Verification_Status,...,Public_Record,Total_Accounts,Total_Received_Principal,Total_Received_Interest,Purpose,Loan_Status,Issue_Month,Issue_Year,region,Risk_Category
0,0,5000.0,10.65,162.87,36,10.0,RENT,24000.0,27.65,Verified,...,0.0,9.0,5000.00,861.07,credit_card,Fully Paid,Dec,2011,SouthWest,Low Risk
1,1,2500.0,15.27,59.83,60,0.5,RENT,30000.0,1.00,Source Verified,...,0.0,4.0,456.46,435.17,car,Charged Off,Dec,2011,SouthEast,High Risk
2,2,2400.0,15.96,84.33,36,10.0,RENT,12252.0,8.72,Not Verified,...,0.0,10.0,2400.00,603.65,small_business,Fully Paid,Dec,2011,MidWest,Low Risk
3,3,10000.0,13.49,339.31,36,10.0,RENT,49200.0,20.00,Source Verified,...,0.0,37.0,10000.00,2209.33,other,Fully Paid,Dec,2011,West,Low Risk
4,4,5000.0,7.90,156.46,36,3.0,RENT,36000.0,11.20,Source Verified,...,0.0,12.0,5000.00,631.38,wedding,Fully Paid,Dec,2011,SouthWest,Low Risk

In [22]:
df.shape

(266029, 24)

In [23]:
df['Verification_Status'].unique()

array(['Verified', 'Source Verified', 'Not Verified'], dtype=object)

In [24]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 266029 entries, 0 to 266028
Data columns (total 24 columns):
 #   Column                    Non-Null Count   Dtype
---  ------                    --------------   -----
 0   Unnamed: 0                266029 non-null  int64
 1   Loan_Amount               266029 non-null  float64
 2   Interest_Rate             266029 non-null  float64
 3   Installment               266029 non-null  float64
 4   Terms(Months)             266029 non-null  int64
 5   Employment_Length         255367 non-null  float64
 6   Home_Ownership            266029 non-null  object
 7   Annual_Income             266029 non-null  float64
 8   Debt_to_Income_Ratio      266029 non-null  float64
 9   Verification_Status       266029 non-null  object
 10  Grade                     266029 non-null  object
 11  Sub_Grade                 266029 non-null  object
 12  Delinquency_2yrs          266029 non-null  float64
 13  Open_Accounts             266029 non-null  float64
 14  Public_Record             266029 non-null  float64
 15  Total_Accounts            266029 non-null  float64
 16  Total_Received_Principal  266029 non-null  float64
 17  Total_Received_Interest   266029 non-null  float64
 18  Purpose                   266029 non-null  object
 19  Loan_Status               266029 non-null  object
 20  Issue_Month               266029 non-null  object
 21  Issue_Year                266029 non-null  int64
 22  region                    266029 non-null  object
 23  Risk_Category             266029 non-null  object
dtypes: float64(12), int64(3), object(9)
memory usage: 48.7+ MB

In [25]:
df['Verification Status'] = df['Verification_Status'].replace('Source Verified', 'Verified')

In [26]:
df = df[df['Home_Ownership']!='NONE']
df = df[df['Home_Ownership']!='ANY']

In [27]:
df['Home_Ownership'].unique()

array(['RENT', 'OWN', 'MORTGAGE', 'OTHER'], dtype=object)

In [28]:
df.shape

(265985, 25)

In [30]:
df.drop(["Unnamed: 0"],axis=1,inplace=True)

In [31]:
df['Terms(Months)'].value_counts()

Terms(Months)
36    203737
60     62248
Name: count, dtype: int64

In [35]:
columms_to_drop = ['Delinquency_2yrs', 'Total_Accounts','Sub_Grade','Total_Received_Principal','Total_Received_Interest',
                   'Loan_Status', 'Issue_Month','Issue_Year', 'region','Public_Record', 'Annual_Income']
df.drop(columns=columms_to_drop)
df.columns

Index(['Loan_Amount', 'Interest_Rate', 'Installment', 'Terms(Months)',
       'Employment_Length', 'Home_Ownership', 'Annual_Income',
       'Debt_to_Income_Ratio', 'Verification_Status', 'Grade', 'Sub_Grade',
       'Delinquency_2yrs', 'Open_Accounts', 'Public_Record', 'Total_Accounts',
       'Total_Received_Principal', 'Total_Received_Interest', 'Purpose',
       'Loan_Status', 'Issue_Month', 'Issue_Year', 'region', 'Risk_Category',
       'Verification Status'],
      dtype='object')

In [42]:
df.head(20)

,Loan_Amount,Interest_Rate,Installment,Terms(Months),Employment_Length,Home_Ownership,Annual_Income,Debt_to_Income_Ratio,Verification_Status,Grade,...,Total_Accounts,Total_Received_Principal,Total_Received_Interest,Purpose,Loan_Status,Issue_Month,Issue_Year,region,Risk_Category,Verification Status
0,5000.0,10.65,162.87,36,10.0,RENT,24000.00,27.65,Verified,B,...,9.0,5000.00,861.07,credit_card,Fully Paid,Dec,2011,SouthWest,Low Risk,Verified
1,2500.0,15.27,59.83,60,0.5,RENT,30000.00,1.00,Source Verified,C,...,4.0,456.46,435.17,car,Charged Off,Dec,2011,SouthEast,High Risk,Verified
2,2400.0,15.96,84.33,36,10.0,RENT,12252.00,8.72,Not Verified,C,...,10.0,2400.00,603.65,small_business,Fully Paid,Dec,2011,MidWest,Low Risk,Not Verified
3,10000.0,13.49,339.31,36,10.0,RENT,49200.00,20.00,Source Verified,C,...,37.0,10000.00,2209.33,other,Fully Paid,Dec,2011,West,Low Risk,Verified
4,5000.0,7.90,156.46,36,3.0,RENT,36000.00,11.20,Source Verified,A,...,12.0,5000.00,631.38,wedding,Fully Paid,Dec,2011,SouthWest,Low Risk,Verified
5,3000.0,18.64,109.43,36,9.0,RENT,48000.00,5.35,Source Verified,E,...,4.0,3000.00,938.14,car,Fully Paid,Dec,2011,West,Low Risk,Verified
6,5600.0,21.28,152.39,60,4.0,OWN,40000.00,5.55,Source Verified,F,...,13.0,162.02,294.94,small_business,Charged Off,Dec,2011,West,High Risk,Verified
7,5375.0,12.69,121.45,60,0.5,RENT,15000.00,18.08,Verified,B,...,3.0,673.48,533.42,other,Charged Off,Dec,2011,SouthWest,High Risk,Verified
8,6500.0,14.65,153.45,60,5.0,OWN,72000.00,16.12,Not Verified,C,...,23.0,6500.00,1177.52,debt_consolidation,Fully Paid,Dec,2011,SouthWest,Low Risk,Not Verified
9,12000.0,12.69,402.54,36,10.0,OWN,75000.00,10.78,Source Verified,B,...,34.0,12000.00,1943.08,debt_consolidation,Fully Paid,Dec,2011,West,Low Risk,Verified
10,9000.0,13.49,305.38,36,0.5,RENT,30000.00,10.08,Source Verified,C,...,9.0,1256.14,570.26,debt_consolidation,Charged Off,Dec,2011,SouthEast,High Risk,Verified
11,3000.0,9.91,96.68,36,3.0,RENT,15000.00,12.56,Source Verified,B,...,11.0,3000.00,478.98,credit_card,Fully Paid,Dec,2011,MidWest,Low Risk,Verified
12,10000.0,10.65,325.74,36,3.0,RENT,100000.00,7.06,Source Verified,B,...,29.0,5433.47,1393.42,other,Charged Off,Dec,2011,West,High Risk,Verified
13,1000.0,16.29,35.31,36,0.5,RENT,28000.00,20.31,Not Verified,D,...,23.0,1000.00,270.17,debt_consolidation,Fully Paid,Dec,2011,MidWest,Low Risk,Not Verified
14,10000.0,15.27,347.98,36,4.0,RENT,42000.00,18.60,Not Verified,C,...,28.0,10000.00,2519.26,home_improvement,Fully Paid,Dec,2011,West,Low Risk,Not Verified
15,3600.0,6.03,109.57,36,10.0,MORTGAGE,110000.00,10.52,Not Verified,A,...,42.0,3600.00,185.02,major_purchase,Fully Paid,Dec,2011,NorthEast,Low Risk,Not Verified
16,6000.0,11.71,198.46,36,1.0,MORTGAGE,84000.00,18.44,Verified,B,...,14.0,6000.00,1149.50,medical,Fully Paid,Dec,2011,West,Low Risk,Verified
17,9200.0,6.03,280.01,36,6.0,RENT,77385.19,9.86,Not Verified,A,...,28.0,9200.00,259.96,debt_consolidation,Fully Paid,Dec,2011,West,Low Risk,Not Verified
18,20250.0,15.27,484.63,60,3.0,RENT,43370.00,26.53,Verified,C,...,22.0,20250.00,7413.04,debt_consolidation,Fully Paid,Dec,2011,SouthWest,Low Risk,Verified
19,21000.0,12.42,701.73,36,10.0,RENT,105000.00,13.22,Verified,B,...,38.0,10694.96,3330.44,debt_consolidation,Charged Off,Dec,2011,SouthEast,High Risk,Verified

In [37]:
df.columns

Index(['Loan_Amount', 'Interest_Rate', 'Installment', 'Terms(Months)',
       'Employment_Length', 'Home_Ownership', 'Annual_Income',
       'Debt_to_Income_Ratio', 'Verification_Status', 'Grade', 'Sub_Grade',
       'Delinquency_2yrs', 'Open_Accounts', 'Public_Record', 'Total_Accounts',
       'Total_Received_Principal', 'Total_Received_Interest', 'Purpose',
       'Loan_Status', 'Issue_Month', 'Issue_Year', 'region', 'Risk_Category',
       'Verification Status'],
      dtype='object')

In [19]:
from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import OneHotEncoder

nominal_columns = ['Purpose']
df = pd.get_dummies(df, columns=nominal_columns)

In [20]:
df.head()

,Loan_Amount,Interest_Rate,Installment,Terms(Months),Employment_Length,Home_Ownership,Annual_Income,Debt_to_Income_Ratio,Verification_Status,Grade,...,Purpose_home_improvement,Purpose_house,Purpose_major_purchase,Purpose_medical,Purpose_moving,Purpose_other,Purpose_renewable_energy,Purpose_small_business,Purpose_vacation,Purpose_wedding
0,5000.0,10.65,162.87,36,10.0,RENT,24000.0,27.65,Verified,B,...,False,False,False,False,False,False,False,False,False,False
1,2500.0,15.27,59.83,60,0.5,RENT,30000.0,1.00,Source Verified,C,...,False,False,False,False,False,False,False,False,False,False
2,2400.0,15.96,84.33,36,10.0,RENT,12252.0,8.72,Not Verified,C,...,False,False,False,False,False,False,False,True,False,False
3,10000.0,13.49,339.31,36,10.0,RENT,49200.0,20.00,Source Verified,C,...,False,False,False,False,False,True,False,False,False,False
4,5000.0,7.90,156.46,36,3.0,RENT,36000.0,11.20,Source Verified,A,...,False,False,False,False,False,False,False,False,False,True