# Lecture 1

## Operates in Python
* "+"  : Add two operands or unary plus
* "-"  : Subtract two operands or unary minus
* "*"  : Multiplies two operands
* "/"  : Divides two operands
* "//"  : Divides two operands using integer division, eg: 7//2 = 3
* "%"  : Finds modulus or remainder after division of two numbers
* "**"  : Finds exponent of the given values

## Taking inputs in Python

* All inputs taken are taken as string inputs without typecasting, therefore typecasting is needed to be done for appropriate data types.
    * ex: a = int(input("Enter the given option")) -> here the value entered will be an integer variable
    * ex : a = input("enter the given option") -> here the value entered will be a string variable

In [1]:
print("Good morning,it is a rainy day today")
print("New line")

Good morning,it is a rainy day today
New line

In [2]:
print("Good Morning, it is rainy today", end='\t')
print("New line?")

Good Morning, it is rainy today	New line?

In [3]:
print('New Year', 2023,'see you soon!', sep=',')

New Year,2023,see you soon!

In [4]:
num = input("enter a number")

In [5]:
num

'5'

In [6]:
type(num)

str

In [7]:
num = int(input("enter a number"))

In [8]:
type(num)

int

In [9]:
print(num,type(num))

5 <class 'int'>

### Exercise: 1

1. WAP to display your name and college name
2. Modify first program but add your designation with your name, but it should be displayed on new line
3. WAP to calculate area of circle. Define p = 3.14 and radius is 2.
4. Modify the program number 2 in such a way that area will be rounded number
5. Modify program number 4 - take radius as input from user.

In [10]:
#1. 
print("Smayan Kulkarni, DJ Sanghvi College of engineering")

Smayan Kulkarni, DJ Sanghvi College of engineering

In [11]:
#2. 
print("student: Smayan Kulkarni")

student: Smayan Kulkarni

In [12]:
pi = 3.14
r =2
area = pi * r**2
area

12.56

In [13]:
pi = 3.14
r =2
area = pi * r**2
a =int(area)
a

12

In [14]:
pi = 3.14
r =int(input("Enter the radius"))
area = pi * r**2
area

153.86

In [17]:
# A regular function
def fun1(funct , *args):
    funct(*args)
def printer_one(arg):
    return print(arg)
def printer_two(arg):
    print(arg)
    
fun1(printer_one, ' printer 1 REGULAR CALL')
fun1(printer_two, ' printer 2 REGULAR CALL')


fun1(lambda : printer_one('printer one lambda called'))
fun1(lambda : printer_two('printer two lambda called'))

 printer 1 REGULAR CALL
 printer 2 REGULAR CALL
printer one lambda called
printer two lambda called