
About Dataset

Context This is a small subset of dataset of Book reviews from Amazon Kindle Store category.

Content 5-core dataset of product reviews from Amazon Kindle Store category from May 1996 - July 2014. Contains total of 982619 entries. Each reviewer has at least 5 reviews and each product has at least 5 reviews in this dataset. Columns

    asin - ID of the product, like B000FA64PK
    helpful - helpfulness rating of the review - example: 2/3.
    overall - rating of the product.
    reviewText - text of the review (heading).
    reviewTime - time of the review (raw).
    reviewerID - ID of the reviewer, like A3SPTOKDG7WBLN
    reviewerName - name of the reviewer.
    summary - summary of the review (description).
    unixReviewTime - unix timestamp.

Acknowledgements This dataset is taken from Amazon product data, Julian McAuley, UCSD website. http://jmcauley.ucsd.edu/data/amazon/

License to the data files belong to them.

Inspiration

    Sentiment analysis on reviews.
    Understanding how people rate usefulness of a review/ What factors influence helpfulness of a review.
    Fake reviews/ outliers.
    Best rated product IDs, or similarity between products based on reviews alone (not the best idea ikr).
    Any other interesting analysis

Best Practises

    Preprocessing And Cleaning
    Train Test Split
    BOW,TFIDF,Word2vec
    Train ML algorithms

In [112]:
import pandas as pd
import re
import nltk
from nltk.corpus import stopwords
from bs4 import BeautifulSoup

In [113]:
df = pd.read_csv('all_kindle_review.csv')

In [114]:
df

,Unnamed: 0.1,Unnamed: 0,asin,helpful,rating,reviewText,reviewTime,reviewerID,reviewerName,summary,unixReviewTime
0,0,11539,B0033UV8HI,"[8, 10]",3,"Jace Rankin may be short, but he's nothing to ...","09 2, 2010",A3HHXRELK8BHQG,Ridley,Entertaining But Average,1283385600
1,1,5957,B002HJV4DE,"[1, 1]",5,Great short read. I didn't want to put it dow...,"10 8, 2013",A2RGNZ0TRF578I,Holly Butler,Terrific menage scenes!,1381190400
2,2,9146,B002ZG96I4,"[0, 0]",3,I'll start by saying this is the first of four...,"04 11, 2014",A3S0H2HV6U1I7F,Merissa,Snapdragon Alley,1397174400
3,3,7038,B002QHWOEU,"[1, 3]",3,Aggie is Angela Lansbury who carries pocketboo...,"07 5, 2014",AC4OQW3GZ919J,Cleargrace,very light murder cozy,1404518400
4,4,1776,B001A06VJ8,"[0, 1]",4,I did not expect this type of book to be in li...,"12 31, 2012",A3C9V987IQHOQD,Rjostler,Book,1356912000
...,...,...,...,...,...,...,...,...,...,...,...
11995,11995,2183,B001DUGORO,"[0, 0]",4,Valentine cupid is a vampire- Jena and Ian ano...,"02 28, 2014",A1OKS5Q1HD8WQC,lisa jon jung,jena,1393545600
11996,11996,6272,B002JCSFSQ,"[2, 2]",5,I have read all seven books in this series. Ap...,"05 16, 2011",AQRSPXLNEQAMA,TerryLP,Peacekeepers Series,1305504000
11997,11997,12483,B0035N1V7K,"[0, 1]",3,This book really just wasn't my cuppa. The si...,"07 26, 2013",A2T5QLT5VXOJAK,hwilson,a little creepy,1374796800
11998,11998,3640,B001W1XT40,"[1, 2]",1,"tried to use it to charge my kindle, it didn't...","09 17, 2013",A28MHD2DDY6DXB,"Allison A. Slater ""Gryphon50""",didn't work,1379376000
11999,11999,11398,B003370JUS,"[5, 6]",3,Taking Instruction is a look into the often hi...,"07 5, 2012",A3JUXLB4K9ZXCC,Dafna Yee,"If you like BDSM with a touch of romance, this...",1341446400

In [115]:
df = df[['reviewText', 'rating']]

In [116]:
df.head()

                                          reviewText  rating
0  Jace Rankin may be short, but he's nothing to ...       3
1  Great short read.  I didn't want to put it dow...       5
2  I'll start by saying this is the first of four...       3
3  Aggie is Angela Lansbury who carries pocketboo...       3
4  I did not expect this type of book to be in li...       4

In [117]:
df.shape

(12000, 2)

In [118]:
df.isna().sum()

reviewText    0
rating        0
dtype: int64

In [119]:
df['rating'].unique()

array([3, 5, 4, 2, 1])

In [120]:
df['rating'].value_counts()

rating
5    3000
4    3000
3    2000
2    2000
1    2000
Name: count, dtype: int64

### **Preprocessing and Cleaning**

In [121]:
df['rating'] = df['rating'].apply(lambda x : 0 if x<3 else 1)

/tmp/ipykernel_9661/874010074.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['rating'] = df['rating'].apply(lambda x : 0 if x<3 else 1)

In [122]:
df['rating'].value_counts()

rating
1    8000
0    4000
Name: count, dtype: int64

In [123]:
df['reviewText']  = df['reviewText'].str.lower()

/tmp/ipykernel_9661/996257607.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['reviewText']  = df['reviewText'].str.lower()

In [124]:
df.head()

                                          reviewText  rating
0  jace rankin may be short, but he's nothing to ...       1
1  great short read.  i didn't want to put it dow...       1
2  i'll start by saying this is the first of four...       1
3  aggie is angela lansbury who carries pocketboo...       1
4  i did not expect this type of book to be in li...       1

### **Data Cleaning**

In [125]:
df['reviewText'] = df['reviewText'].apply(lambda x:re.sub('[^^a-z A-Z 0-9]+', '', x))

/tmp/ipykernel_9661/3551487871.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['reviewText'] = df['reviewText'].apply(lambda x:re.sub('[^^a-z A-Z 0-9]+', '', x))

In [126]:
df['reviewText'] = df['reviewText'].apply(lambda x:" ".join([y for y in x.split() if y not in stopwords.words('english')]))

/tmp/ipykernel_9661/349245991.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['reviewText'] = df['reviewText'].apply(lambda x:" ".join([y for y in x.split() if y not in stopwords.words('english')]))

In [127]:
df['reviewText']=df['reviewText'].apply(lambda x: re.sub(r'(http|https|ftp|ssh)://([\w_-]+(?:(?:\.[\w_-]+)+))([\w.,@?^=%&:/~+#-]*[\w@?^=%&/~+#-])?', '' , str(x)))

/tmp/ipykernel_9661/2015794547.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['reviewText']=df['reviewText'].apply(lambda x: re.sub(r'(http|https|ftp|ssh)://([\w_-]+(?:(?:\.[\w_-]+)+))([\w.,@?^=%&:/~+#-]*[\w@?^=%&/~+#-])?', '' , str(x)))

In [128]:
df['reviewText'] = df['reviewText'].apply(lambda x: BeautifulSoup(x, 'html.parser').get_text())

/tmp/ipykernel_9661/4311170.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['reviewText'] = df['reviewText'].apply(lambda x: BeautifulSoup(x, 'html.parser').get_text())

In [129]:
df['reviewText']=df['reviewText'].apply(lambda x: " ".join(x.split()))

/tmp/ipykernel_9661/731363273.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['reviewText']=df['reviewText'].apply(lambda x: " ".join(x.split()))

In [130]:
df.head()

                                          reviewText  rating
0  jace rankin may short hes nothing mess man hau...       1
1  great short read didnt want put read one sitti...       1
2  ill start saying first four books wasnt expect...       1
3  aggie angela lansbury carries pocketbooks inst...       1
4  expect type book library pleased find price right       1

In [131]:
from nltk.stem import WordNetLemmatizer
lemmatizer = WordNetLemmatizer()

In [132]:
def lemmatize_words(text):
    return " ".join([lemmatizer.lemmatize(word) for word in text.split()])

In [133]:
df['reviewText']=df['reviewText'].apply(lambda x: lemmatize_words(x))

/tmp/ipykernel_9661/3266273754.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['reviewText']=df['reviewText'].apply(lambda x: lemmatize_words(x))

In [134]:
from sklearn.model_selection import train_test_split

In [135]:
X_train,X_test,y_train,y_test = train_test_split(df['reviewText'], df['rating'], test_size=0.20)

In [136]:
from sklearn.feature_extraction.text import CountVectorizer

In [137]:
bow = CountVectorizer()

In [138]:
X_train_bow = bow.fit_transform(X_train).toarray()

In [139]:
X_test_bow = bow.transform(X_test).toarray()

In [140]:
from sklearn.feature_extraction.text import TfidfVectorizer
tfidf = TfidfVectorizer()
X_train_tfidf = tfidf.fit_transform(X_train).toarray()
X_test_tfidf = tfidf.transform(X_test).toarray()

In [141]:
X_train_bow

array([[0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       ...,
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0]])

In [142]:
from sklearn.naive_bayes import GaussianNB

In [143]:
nb_model_bow = GaussianNB().fit(X_train_bow,y_train)
nb_model_tfidf = GaussianNB().fit(X_train_tfidf,y_train)

In [144]:
from sklearn.metrics import confusion_matrix, classification_report, accuracy_score

In [145]:
y_pred_bow = nb_model_bow.predict(X_test_bow)

In [146]:
y_pred_tfidf= nb_model_bow.predict(X_test_tfidf)

In [147]:
print("BOW Accuracy: ", accuracy_score(y_test, y_pred_bow))

BOW Accuracy:  0.5816666666666667

In [148]:
print(confusion_matrix(y_test, y_pred_bow))

[[507 279]
 [725 889]]

In [149]:
print("TFIDF Accuracy: ", accuracy_score(y_test, y_pred_tfidf))

TFIDF Accuracy:  0.5791666666666667

In [150]:
print(confusion_matrix(y_test, y_pred_tfidf))

[[493 293]
 [717 897]]

In [151]:
print(classification_report(y_test, y_pred_tfidf))

              precision    recall  f1-score   support

           0       0.41      0.63      0.49       786
           1       0.75      0.56      0.64      1614

    accuracy                           0.58      2400
   macro avg       0.58      0.59      0.57      2400
weighted avg       0.64      0.58      0.59      2400

In [152]:
from gensim.models import Word2Vec
from nltk.stem import WordNetLemmatizer
from nltk.tokenize import word_tokenize
wnl = WordNetLemmatizer()

In [153]:
df.head()

                                          reviewText  rating
0  jace rankin may short he nothing mess man haul...       1
1  great short read didnt want put read one sitti...       1
2  ill start saying first four book wasnt expecti...       1
3  aggie angela lansbury carry pocketbook instead...       1
4  expect type book library pleased find price right       1

In [154]:

w2v_model = Word2Vec(sentences=df['reviewText'], vector_size=100, window=5, min_count=2, workers=4, epochs=20)


def get_avg_word2vec(tokens, model, vector_size):
    embeddings = [model.wv[word] for word in tokens if word in model.wv]
    if len(embeddings) == 0: 
        return np.zeros(vector_size)
    return np.mean(embeddings, axis=0)

In [155]:
import numpy as np
vector_size = 300
df['features'] = df['reviewText'].apply(lambda x: get_avg_word2vec(x, w2v_model, vector_size))

# Convert the features column into a NumPy array for modeling
X = np.vstack(df['features'].values)

/tmp/ipykernel_9661/1412478705.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['features'] = df['reviewText'].apply(lambda x: get_avg_word2vec(x, w2v_model, vector_size))

In [156]:
# Assuming 'label' is the target column for classification
y = df['rating'].values  # Replace 'label' with your target column name

# Split into training and test sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [157]:
from sklearn.ensemble import RandomForestClassifier
clf = RandomForestClassifier(n_estimators=100, random_state=42)
clf.fit(X_train, y_train)

# Predict on the test set
y_pred = clf.predict(X_test)

In [158]:
# Print classification metrics
print("Accuracy:", accuracy_score(y_test, y_pred))
print("Classification Report:\n", classification_report(y_test, y_pred))

Accuracy: 0.6633333333333333
Classification Report:
               precision    recall  f1-score   support

           0       0.49      0.13      0.20       803
           1       0.68      0.93      0.79      1597

    accuracy                           0.66      2400
   macro avg       0.58      0.53      0.49      2400
weighted avg       0.62      0.66      0.59      2400

In [159]:
df.head(20)

,reviewText,rating,features
0,jace rankin may short he nothing mess man haul...,1,"[0.053336196, 0.12688181, -0.049337562, 0.0077..."
1,great short read didnt want put read one sitti...,1,"[0.06863895, 0.09831194, -0.029212931, -0.0052..."
2,ill start saying first four book wasnt expecti...,1,"[0.04338456, 0.08468264, -0.029736161, -0.0166..."
3,aggie angela lansbury carry pocketbook instead...,1,"[0.028377568, 0.102957256, -0.017790891, 0.016..."
4,expect type book library pleased find price right,1,"[-0.007919053, 0.116564214, -0.0093689915, 0.0..."
5,aislinn little girl big dream death older brot...,1,"[0.043466423, 0.1257845, -0.04571679, 0.001972..."
6,making good story unfortunately disappointsit ...,0,"[0.067125894, 0.09570663, -0.031356517, -0.005..."
7,got like collaborated short story alot time tw...,1,"[0.072377004, 0.097389065, -0.030995294, -0.01..."
8,loved book hooked series hope kelsey maxwell r...,1,"[0.043017883, 0.13387775, -0.08559201, -0.0092..."
9,thats good thing short sweet tease give everyt...,1,"[0.028936148, 0.10533362, -0.014062244, 0.0105..."
10,received copy book review secret society fanat...,0,"[0.07035076, 0.13039148, -0.03169786, -0.01475..."
11,even though already know outcome still enjoyab...,1,"[0.07782546, 0.13513188, -0.06355621, -0.01009..."
12,read review decided give try despite review la...,0,"[0.045991383, 0.12523705, -0.035306755, 0.0181..."
13,finished reread wicked garden say wow even nov...,1,"[0.052226953, 0.121351436, -0.043162793, 0.005..."
14,king james version far tell may know 1611 kjv ...,1,"[0.014347318, 0.10808421, -0.036556557, 0.0422..."
15,disappointed book anything blond one figured 5...,0,"[0.059184667, 0.07029537, -0.06838087, -0.0300..."
16,super quick book wish would longer really like...,1,"[0.023820626, 0.12668882, -0.0613038, -0.01548..."
17,many time author going get amazon delete add c...,0,"[0.062481273, 0.107270405, -0.036340374, 8.060..."
18,love jr ward book story completely awsome zsad...,1,"[0.045943677, 0.09911701, -0.02720449, -0.0117..."
19,first author thoroughly enjoyed iti say concep...,1,"[0.06722749, 0.089749865, -0.030903576, -0.016..."

In [160]:
df['features'][1]

array([ 0.06863895,  0.09831194, -0.02921293, -0.00527945, -0.0463696 ,
        0.10699135,  0.00690011, -0.01396308,  0.12052305,  0.00771916,
       -0.05044513, -0.04504406,  0.09293185,  0.07019788, -0.01649657,
       -0.01408762,  0.10382766, -0.06838108, -0.03202539, -0.03737927,
        0.01895273,  0.05405232,  0.03698694, -0.01499594, -0.00512078,
        0.07852217, -0.03516585,  0.06519074,  0.01013239,  0.04516061,
       -0.03934152, -0.08615541,  0.00835149, -0.06442848,  0.01559167,
        0.08373778,  0.06778563, -0.16234635, -0.0668643 , -0.03193004,
       -0.0419716 , -0.01632408, -0.08186923,  0.09975983, -0.02530266,
        0.0376403 ,  0.05926003, -0.0249241 , -0.04129053, -0.00243967,
        0.03862736, -0.02407669, -0.01970811,  0.0174355 , -0.00731514,
       -0.09471676, -0.02929712, -0.01213194,  0.09184805,  0.01866027,
       -0.00079417, -0.03044401,  0.06496444,  0.0396681 , -0.11178445,
        0.00647107,  0.07684976,  0.16248883, -0.09623201,  0.22198902,
        0.0308792 ,  0.18151459,  0.00300323, -0.03757988, -0.13417502,
        0.00574464,  0.05608825, -0.13591097, -0.08774623, -0.0310867 ,
       -0.0428265 , -0.01454737,  0.05164267,  0.00300588,  0.03741724,
        0.03455228, -0.08729006, -0.1600827 ,  0.04453406,  0.00114509,
        0.15789998,  0.03727702,  0.08235338,  0.10999296,  0.06929939,
        0.04764937,  0.06931186,  0.0325835 , -0.04508626,  0.07332936],
      dtype=float32)