Name : Smayan Kulkarni
Roll No : D100
Colab Link : https://colab.research.google.com/github/SmayanKulkarni/AI-and-ML-Course/blob/master/ML-LAB/ML_Lab5.ipynb

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import accuracy_score, classification_report
from sklearn.preprocessing import StandardScaler

In [ ]:
df1 = pd.read_csv('/home/smayan/Desktop/AI-ML-DS/AI-and-ML-Course/ML-LAB/Iris.csv')
df2 = pd.read_csv('/home/smayan/Desktop/AI-ML-DS/AI-and-ML-Course/ML-LAB/placementdata.csv')

In [ ]:
df1.head()

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           3.2            1.3           0.2  Iris-setosa
3   4            4.6           3.1            1.5           0.2  Iris-setosa
4   5            5.0           3.6            1.4           0.2  Iris-setosa

In [ ]:
df2.head()

,StudentID,CGPA,Internships,Projects,Workshops/Certifications,AptitudeTestScore,SoftSkillsRating,ExtracurricularActivities,PlacementTraining,SSC_Marks,HSC_Marks,PlacementStatus
0,1,7.5,1,1,1,65,4.4,No,No,61,79,NotPlaced
1,2,8.9,0,3,2,90,4.0,Yes,Yes,78,82,Placed
2,3,7.3,1,2,2,82,4.8,Yes,No,79,80,NotPlaced
3,4,7.5,1,1,2,85,4.4,Yes,Yes,81,80,Placed
4,5,8.3,1,2,2,86,4.5,Yes,Yes,74,88,Placed

DECISION TREE

Iris

In [ ]:
feature_cols = ['SepalLengthCm','SepalWidthCm','PetalLengthCm','PetalWidthCm']
X = df1[feature_cols]
y = df1['Species']

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3,random_state=11)
clf1 = DecisionTreeClassifier()
clf1 = clf1.fit(X_train,y_train)
y_pred = clf1.predict(X_test)
print("Training Accuracy:",clf1.score(X_train, y_train))
print("Testing Accuracy:",accuracy_score(y_test, y_pred))

Training Accuracy: 1.0
Testing Accuracy: 0.9111111111111111

Placement

In [ ]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 12 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   StudentID                  10000 non-null  int64
 1   CGPA                       10000 non-null  float64
 2   Internships                10000 non-null  int64
 3   Projects                   10000 non-null  int64
 4   Workshops/Certifications   10000 non-null  int64
 5   AptitudeTestScore          10000 non-null  int64
 6   SoftSkillsRating           10000 non-null  float64
 7   ExtracurricularActivities  10000 non-null  object
 8   PlacementTraining          10000 non-null  object
 9   SSC_Marks                  10000 non-null  int64
 10  HSC_Marks                  10000 non-null  int64
 11  PlacementStatus            10000 non-null  object
dtypes: float64(2), int64(7), object(3)
memory usage: 937.6+ KB

In [ ]:
extra_mapping = {'No': 0, 'Yes': 1}
df2['ExtracurricularActivities'] = df2['ExtracurricularActivities'].map(extra_mapping)
placementtrain_mapping = {'No': 0, 'Yes': 1}
df2['PlacementTraining'] = df2['PlacementTraining'].map(placementtrain_mapping)
feature_cols = ['CGPA','Internships','Projects','Workshops/Certifications','AptitudeTestScore','SoftSkillsRating','ExtracurricularActivities','PlacementTraining','SSC_Marks','HSC_Marks']
X2 = df2[feature_cols]
y2 = df2['PlacementStatus']
X2_train, X2_test, y2_train, y2_test = train_test_split(X2, y2, test_size=0.3,random_state=11)
clf12 = DecisionTreeClassifier()
clf12 = clf12.fit(X2_train,y2_train)
y2_pred = clf12.predict(X2_test)
print("Training Accuracy:",clf12.score(X2_train, y2_train))
print("Testing Accuracy:",accuracy_score(y2_test, y2_pred))

Training Accuracy: 0.9995714285714286
Testing Accuracy: 0.7136666666666667

DECISION TREE WITH FEATURE IMPORTANCE

Iris

In [ ]:
imp1=pd.Series(clf1.feature_importances_)
imp1

0    0.000000
1    0.021446
2    0.034083
3    0.944471
dtype: float64

In [ ]:
df1.drop(columns=['SepalLengthCm'],axis=1,inplace=True)
X21 = df1.drop('Species', axis=1)
y21 = df1['Species']
X21_train, X21_test, y21_train, y21_test = train_test_split(X21, y21,test_size=0.3, random_state=11)
clf21 = DecisionTreeClassifier()
clf21 = clf21.fit(X21_train,y21_train)
y21_pred = clf21.predict(X21_test)

In [ ]:
print("Training Accuracy:",clf21.score(X21_train, y21_train))
print("Testing Accuracy:",accuracy_score(y21_test, y21_pred))

Training Accuracy: 1.0
Testing Accuracy: 1.0

Placement

In [ ]:
imp12=pd.Series(clf12.feature_importances_)
imp12

0    0.112526
1    0.026749
2    0.040783
3    0.040884
4    0.147050
5    0.086314
6    0.049372
7    0.021385
8    0.120640
9    0.354298
dtype: float64

In [ ]:
df2.drop(columns=['CGPA'],axis=1,inplace=True)
df2.drop(columns=['Internships'],axis=1,inplace=True)
df2.drop(columns=['Projects'],axis=1,inplace=True)
X22 = df2.drop('PlacementStatus', axis=1)
y22 = df2['PlacementStatus']
X22_train, X22_test, y22_train, y22_test = train_test_split(X22, y22,test_size=0.3, random_state=11)
clf22 = DecisionTreeClassifier()
clf22 = clf1.fit(X22_train,y22_train)
y22_pred = clf22.predict(X22_test)
print("Training Accuracy:",clf22.score(X22_train, y22_train))
print("Testing Accuracy:",accuracy_score(y22_test, y22_pred))

Training Accuracy: 1.0
Testing Accuracy: 0.706

RANDOM FOREST WITH N ESTIMATORS

Iris

In [ ]:
from sklearn.ensemble import RandomForestClassifier
df3=pd.read_csv("Iris.csv")
feature_cols = ['SepalLengthCm','SepalWidthCm','PetalLengthCm','PetalWidthCm']
X31 = df3[feature_cols]
y31 = df3['Species']
X31_train, X31_test, y31_train, y31_test = train_test_split(X31, y31,test_size=0.3, random_state=11)
clf31 = RandomForestClassifier(n_estimators=100)
clf31 = clf31.fit(X31_train,y31_train)
y31_pred = clf31.predict(X31_test)
print("Training Accuracy:",clf31.score(X31_train, y31_train))
print("Testing Accuracy:",accuracy_score(y31_test, y31_pred))

Training Accuracy: 1.0
Testing Accuracy: 0.9111111111111111

Placement

In [ ]:
df4=pd.read_csv("placementdata.csv")
extra_mapping = {'No': 0, 'Yes': 1}
df4['ExtracurricularActivities'] = df4['ExtracurricularActivities'].map(extra_mapping)
placementtrain_mapping = {'No': 0, 'Yes': 1}
df4['PlacementTraining'] = df4['PlacementTraining'].map(placementtrain_mapping)
X32 = df4.drop(['StudentID','PlacementStatus'], axis=1)
y32 = df4['PlacementStatus']
X32_train, X32_test, y32_train, y32_test = train_test_split(X32, y32,test_size=0.3, random_state=11)
clf32 = RandomForestClassifier(n_estimators=100)
clf32 = clf32.fit(X32_train,y32_train)
y32_pred = clf32.predict(X32_test)
print("Training Accuracy:",clf32.score(X32_train, y32_train))
print("Testing Accuracy:",accuracy_score(y32_test, y32_pred))

Training Accuracy: 0.9995714285714286
Testing Accuracy: 0.7856666666666666

RANDOM FOREST WITH N ESTIMATORS AND FEATURE IMPORTANCE

Iris

In [ ]:
imp3=pd.Series(clf31.feature_importances_)
imp3

0    0.091352
1    0.034565
2    0.405962
3    0.468120
dtype: float64

In [ ]:
df3.drop(columns=['SepalWidthCm'],axis=1,inplace=True)
X41 = df1.drop('Species', axis=1)
y41 = df1['Species']
X41_train, X41_test, y41_train, y41_test = train_test_split(X41, y41,test_size=0.3, random_state=11)
clf41 = RandomForestClassifier(n_estimators=100)
clf41 = clf41.fit(X41_train,y41_train)
y41_pred = clf41.predict(X41_test)
print("Training Accuracy:",clf41.score(X41_train, y41_train))
print("Testing Accuracy:",accuracy_score(y41_test, y41_pred))

Training Accuracy: 1.0
Testing Accuracy: 1.0

Placement

In [ ]:
imp4=pd.Series(clf32.feature_importances_)
imp4

0    0.119122
1    0.034914
2    0.092213
3    0.056552
4    0.172169
5    0.091467
6    0.066976
7    0.023976
8    0.141711
9    0.200898
dtype: float64

In [ ]:
df4.drop(columns=['CGPA'],axis=1,inplace=True)
df4.drop(columns=['Internships'],axis=1,inplace=True)
df4.drop(columns=['PlacementTraining'],axis=1,inplace=True)
X42 = df4.drop('PlacementStatus', axis=1)
y42 = df4['PlacementStatus']
X42_train, X42_test, y42_train, y42_test = train_test_split(X42, y42,test_size=0.3, random_state=11)
clf42 = RandomForestClassifier(n_estimators=100)
clf42 = clf42.fit(X42_train,y42_train)
y42_pred = clf42.predict(X42_test)
print("Training Accuracy:",clf42.score(X42_train, y42_train))
print("Testing Accuracy:",accuracy_score(y42_test, y42_pred))

Training Accuracy: 1.0
Testing Accuracy: 0.7846666666666666